.admin-root {
  background-color: #007bff;
  padding: 2em;
  height: 100vh;
}

.admin-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  object-fit: contain;
  padding-left: 25%;
  padding-right: 25%;
}

.admin-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow: auto;
}

.admin-header {
  text-align: center;
  margin-bottom: 20px;
}

.admin-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.admin-form input {
  flex: 1;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-form select {
  flex: 1;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-form button {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-form button:hover {
  background-color: #0056b3;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.admin-table th {
  background-color: #f1f1f1;
}

.admin-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-table tr:hover {
  background-color: #f1f1f1;
}



.delete-button {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

.edit-button {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #ffbb00;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #e6a100;
}

