.edituser-root {
  background-color: #007bff;
  padding: 2em;
  height: 100vh;
}

.edituser-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.edituser-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.edituser-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.edituser-form > div {
  margin-bottom: 15px;
  width: 100%;
}

.edituser-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.edituser-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edituser-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.edituser-button:hover {
  background-color: #0056b3;
}
